html {
    background-color: #dfebed;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-variant-numeric: tabular-nums;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #272838;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 18px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}

.display {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.display1, .display2 {
    background-color: #f9f8f8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border-left-style: inset;
    border-right-style: inset;
    overflow: hidden;
    width: 460px;
}

.display1 {
    height: 40px;
    font-size: 40px;
    border-top-style: inset;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.display2 {
    height: 60px;
    font-size: 60px;                      
    border-bottom-style: inset;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
}

.section-1, .section-2, .section-3, .section-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    
}

.number-btn, .operator-btn, .decimal-btn, .equals-btn,.clear-btn, .backspace-btn {
  appearance: none;
  background-color: #7e7f9a;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  line-height: normal;
  margin: 10px;
  outline: none;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
  font-size: 40px;
}

.number-btn, .operator-btn, .decimal-btn, .equals-btn {
    width: 100px;
    height: 100px;
  }


.clear-btn, .backspace-btn {
    width: 220px;
    height: 50px;
    margin: 10px;
    font-size: 40px;
}

.number-btn:hover, .operator-btn:hover, .decimal-btn:hover, .equals-btn:hover, .clear-btn:hover, .backspace-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.number-btn:active, .operator-btn:active, .decimal-btn:active, .equals-btn:active, .clear-btn:active, .backspace-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.number-btn:hover, .decimal-btn:hover {
    background-color: #f3de8a;
    color: #000;
    transition: 0.5s;
}

.operator-btn:hover, .equals-btn:hover{
    background-color: #eb9486;
    color: #000;
    transition: 0.5s;
}

.clear-btn:hover, .backspace-btn:hover{
    background-color: #eb9486;
    color: #000;
    transition: 0.5s;
}